<!DOCTYPE html>
<html>
    <head>
        <title>{{name}}</title>
        <link rel="icon" href="/public/img/weather.png">
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}

            <div><br><b>Weather-forecast</b> is a NodeJS web application that requires you to just enter a 
            location and it provides weather forecast and info</div>

            <br><br><br> If you are a developer, you can find the code on <a href="https://github.com/juniorbuba/weather-forecast">Github</a>
            <br><br><br><br> Built by Moh <br>Connect with me on <a href="https://twitter.com/web_walkerX">Twitter</a>
        </div>
        
        {{>footer}}
    </body>
</html> 