<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="icon" href="../../public/img/weather.png">
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <div class="main-content"> 
            {{>header}}
        <h1>Page not found. Please go back <a href="/">Home</a> and try again</h1>
        </div>
       
        {{>footer}}
    </body>
</html> 

