<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="icon" href="../../public/img/weather.png">
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
        <p>Help article not found.</p>
        </div>
        
        {{>footer}}
    </body>
</html> 

