<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="icon" href="/public/img/weather.png">
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
        {{!-- <img src="img/4.jpg" /> --}}
        <p>Latest Weather reports</p>
        <form action="">
            <input type="text" placeholder="City e.g Lagos">
            <button>Search</button>
        </form>

        <p id="weather"></p>
        <p id="error"></p>

        </div>
        
        {{>footer}}

        <script src="js/app.js"></script>

    </body>
</html>